section{
    padding-top: 40px;
    background-color: rgb(40, 81, 143);
}

.titulo-site{
    color: rgb(40, 81, 143);
    font-size: 64px;
}

.titulo-secao{
    color: #ffffff;
    border-bottom: solid 4px red ;
    margin-top: 70px;
}

.card{
    padding: 8px;
    margin-top: 8px;
}

.card img{
    max-height: 350px;
    max-width: 338px;
}

.navbar{
    background-color: #dbdada;
}

header{
    padding: 0px;
    background-color: #dbdada;
    border-bottom: solid 4px red;
    position: initial;
    z-index: 1000;
}



.navbar .nav-link.active{
    color: #ffffff;
    background-color: red;
}

.nav-link{
    text-align: center;
    font-weight: bold;
}

.contato-opcao{
    padding: 8px;
}

.titulo-opcao-contato{
    color: #ffffff;
}

.contato-icon{
    max-width: 48px;
    max-height: 32px;
}

.contato-title{
    display: flex;
    align-items: center;
}

.contato-icon{
    margin-left: 4px;
}

.contato-number{
    color: #dbdada;
    padding: bottom 8px;
}

footer{
    background-color: rgb(221, 221, 221);
    padding: 32px;
}

.container-footer{
    display: block;
    text-align: center;
}

.bar-fina{
    border-bottom:solid 1px red ;
}

header{
    position: sticky;
    top: 0;
    left: 0;
}

.carousel-slider-loja{
    position: relative;
}

.carousel-item{
    max-height: 635px;
}

.card-text{
    justify-content: center;
}

.endereco{
    padding: 8px;
    color: #ffffff;
    margin-top: 20px;

}
